.card {
  max-width: 1500px;
  margin: 85px auto 0px auto;
  background-color: rgba(245, 236, 220, 0.4);
  border-radius: 10px;
}
.card-wrapper img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
  border-radius: 10px;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
}
.img-item {
  width: calc(100% / 4);
  margin: 0.3rem;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  margin-top: 10%;
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #8b4513;
  margin: 1rem 0;
  margin-bottom: 10px;
}
.product-title::before {
  content: "";
  position: absolute;
  top: 180%;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 90%;
  background: chocolate;
  border-radius: 3px;
}
.product-title::after {
  content: "";
  position: absolute;
  top: 180%;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 40%;
  background: rgb(247, 234, 220);
  border-radius: 10px;
}

.product-rating {
  margin-top: 3rem;
  color: #ffc107;
  font-size: 1.9rem;
}
.product-rating span {
  font-weight: 600;
  color: #252525;
}
.product-price {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
  font-size: 1.9rem;
}

.new-price span {
  color: black;
}
.product-detail h2 {
  text-transform: capitalize;
  color: black;
  padding-bottom: 0.6rem;
  font-size: 2rem;
  font-weight: bold;
}

.product-detail ul {
  margin-left: 20px;
  color: black;
}
.product-detail ul li {
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  background-size: 18px;
  margin: 0.8rem 0;
  opacity: 10;
}
.product-detail ul li span {
  font-weight: 500;
}
.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
  font-size: 25px;
}
.purchase-info input {
  width: 80px;
  margin-right: 20px;
}
.purchase-info .btn {
  cursor: pointer;
  color: rgb(97, 53, 3);
  font-size: 20px;
  font-weight: bold;
}
.purchase-info .btn:first-of-type {
  background: rgb(245, 214, 156);
}
.purchase-info .btn:last-of-type {
  background: rgb(245, 214, 156);
}
.purchase-info .btn:hover {
  background-color: rgb(231, 197, 145);
  opacity: 0.9;
}

.select {
  padding: 20px 0;
}
.select h2 {
  display: inline;
  font-size: 20px;
}
label {
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}
