/* header left */
.header {
  background-color:rgba(220, 220, 220, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right:0 ;
  width: 100%;
  height: var(--header-height);
  z-index: 9999;
}

.header__nav {
  height: var(--header-height);
}

.header__nav-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  height: 100%;
}

/* header main */

.header__nav-menu {
  height: 100%;
}

.header__nav-menu__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__nav-menu-item {
  position: relative;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: wheat;
  border-radius: 20px;
}
.header__nav-menu--link {
  position: relative;
  display: block;
  text-decoration: none;
  color: rgb(94, 63, 6);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
}
.header__nav-menu--link:hover {
  background-color: #8B4513;
  color: white;
}
.navbar__shop, .navbar__page {
  display: block;
  position: absolute;
  top: 80%;
  left: -10px;
  background-color: transparent;
  padding-left: 0;
  padding-top: 28px;
  width: 500px;
  border-radius: 5px;
  letter-spacing: 2px;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all linear 0.1s;
  -webkit-transition: all linear 0.2s;
  z-index: 10;
}

.header__nav-menu-item:nth-child(2):hover .navbar__shop,
.header__nav-menu-item:nth-child(3):hover .navbar__page
{
  transform: scale(0);
  -webkit-transform: scale(1);
}

.navbar__shop--item,.navbar__page--item {
  list-style: none;
  position: relative;
  display: block;
  background-color: wheat;
  font-weight: 800;
}
.navbar__shop--item:first-child, .navbar__page--item:first-child{
  border-radius: 10px 10px 0 0;
}
.navbar__shop--item:last-child, .navbar__page--item:last-child {
  border-radius: 0 0 10px 10px;
}
.navbar__page--item,
.navbar__shop--item {
  list-style: none;
}

.navbar__shop--link:hover,.navbar__page--link:hover {
  background-color: rgba(187, 147, 73, 0.6);
  border-radius: 10px;
}
.navbar__shop--link,
.navbar__page--link{
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  color:#8B4513 ;
  padding: 10px;

}

/* header right */
.header__nav-warp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.header__nav-warp-icon {
  font-size: 1.8rem;
  color: #8B4513;
  background-color: wheat;
  padding: 10px 15px;
  border-radius: 20px;
}

.header__nav-warp-icon:hover {
  background-color: #8B4513;
  color: white;
}

.header__nav-warp-search {
  position: relative;
}

.header__nav-warp-search-form {
  position: absolute;
  top: 150%;
  right: 0;
  left: -60px;
  min-width: 300px;
  max-height: 100px;
  border-radius: 5px;
  background-color: wheat;
  display: block;
  border-radius: 30px;
  transform-origin: top;
  -webkit-transform-origin: top;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all linear 0.3s;
}

.header__nav-warp-search::after {
  display: block;
  position: absolute;
  top: 35px;
  left: -10px;
  content: "";
  background-color: transparent;
  width: 60px;
  height: 70%;
}

.header__nav-warp-search:hover .header__nav-warp-search-form {
  transform: scale(1);
  -webkit-transform: scale(1);
}

.header__nav-warp-search-form form {
  position: relative;
  width: 100%;
}
.header__nav-warp-search-form--input::placeholder { 
  color: #8B4513 !important;
}
.header__nav-warp-search-form--input {
  width: 100%;
  border: 0;
  height: 45px;
  padding: 0 20px;
  outline: 0;
  border-radius: 30px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-color: wheat;
}

.btn-nav-search {
  position: absolute;
  top: -1px;
  right: 0px;
  left: auto;
  width: 15%;
  min-height: 46px;
  border-radius: 0 30px 30px 0;
  border: none;
  background-color: #8B4513;
}

.btn-nav-search {
  color: white;
  font-size: 20px;
}

.header__nav-warp-cart {
  position: relative;
}

/* header menu */
.header__nav-warp-bars {
  display: none;
}

.header__menu-link {
}

.mobile-header__bar {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__bar-icon {
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 4px;
  background-color: #8B4513;
  position: relative;
}

.header__bar-icon::before {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  border-radius: 4px;
  background-color: #8B4513;
  transition: 0.3s;
}

.header__bar-icon::after {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  content: "";
  display: block;
  width: 32px;
  height: 4px;
  border-radius: 4px;
  background-color: #8B4513;
  transition: 0.3s;
}

.click-header__bar-icon:checked ~ .header__bar-icon {
  background-color: transparent;
}

.click-header__bar-icon:checked ~ .header__bar-icon::before {
  background-color: #8B4513;
  transform: rotate(45deg);
  bottom: 0;
}

.click-header__bar-icon:checked ~ .header__bar-icon::after {
  background-color: #8B4513;
  transform: rotate(-45deg);
  top: 0;
}

.mobile-header__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  background-color: wheat;
  padding: 12px 0;
  list-style: none;
  transition: 0.3s;
  transform-origin: top;
  display: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 555;
}

.click-header__bar-icon:checked ~ .mobile-header__list {
  display: block;
}
.mobile-header__item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  color:#8B4513;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 555;
}
.mobile-header__item label:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.mobile-header__item label a{
  text-decoration: none;
  color: #8B4513;
}
.mobile-header__item-item{
  text-decoration: none;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #8B4513;
  padding: 12px;
  text-decoration: none;
  z-index: 555;
}

.mobile-header__item-list {
  display: none;
  margin: 0 -30px;
  transition: 0.3s;
  transform-origin: top;
  background-color: rgb(240, 229, 208);
  z-index: 555;
}

.click-subnav:checked ~ .mobile-header__item-list,
.click-subnav2:checked ~ .mobile-header__item-list,
.click-subnav3:checked ~ .mobile-header__item-list {
  display: block;
}

.mobile-header__item-item a {
  text-decoration: none;
  color: #8B4513;
  display: block;
  width: 100%;
  transition: 0.3s;
  z-index: 555;
}
.mobile-header__item-list .mobile-header__item-item:hover  {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
}
/*============================================ SLIDER =================================*/
 /* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');  */
#area-slider {
  margin-top:110px;
}
.slider-area{
  height:80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: auto;
}
.c {
  min-width: 90%;
  width: 700px;
  height: 600px;
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 40px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: hsl(0 0% 90%);
  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 70%;
  left: 4%;
  transform: translateY(-50%);

  font-size: 2rem;
  color: hsla(var(--h) var(--s) var(--l) / .8);
  text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

.c input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

.c label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

.c label:last-child {
  margin-right: 0;
}

.c input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

.c input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

.c input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

.c input:not(:checked)+label+.ci {
  transition: 0;
}

/* ====================================End Slider====================================== */
/* ===========================================Start Menu Bar================================*/
:root {
  --surface-color: #fff;
  --curve: 40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding-bottom: 40px;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  width: 80%;
}

.card__image {      
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: 0 0 calc(var(--curve) * 1px) calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1.5em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0.5);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: black;
  text-transform: uppercase;
}

.card__status {
  font-size: 2em;
  color: black;
  font-weight: bold
}

.card__description {
  padding: 0 2em 2em;
  margin-top: -80px;
  font-size: 1.3em;
  color: black;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.card-area{
  max-width: 1500px;
  margin: auto;
  background-color: rgb(226, 216, 198);
  border-radius: 10px;
  height: 100%;
}
.title {
  margin-top: 30px;
  display:block;
  text-align: center;
}
.title h1 {
  background-color: wheat;
  display: inline-block;
  padding: 0.5em;
  border-radius: 10px;
}
.line-shop{
  height: 5px;
  background-color: #8B4513;
  border-radius: 5px;
  margin: 10px 0;
}

.line-min{
  width: 15vw;
  border-radius: 5px;
  height: 5px;
  background-color:bisque;
}
.logomenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-responsive {
  width: 100px;
  margin-left: 15px;
}
.logomenu a {
  padding: 10px;
  background-color: wheat;
  border-radius: 10px;
  margin-right: 15px;
  font-size: 20px;
  text-decoration: none;
  color: #8B4513;
  font-weight: bold;
}
/* ===========================================End Menu Bar================================*/

/* =======================================Liên Hệ============================================= */
#contact {
  background-color: rgb(226, 216, 198);
  border-radius: 10px;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  margin: auto;
}
#contact .content{
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin-top: 20px; */
}

.contact .content .row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.contact .content .row .card{
  background: #fff;
  width: 200px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.contact .content .row .card .contact-icon{
  color: #3a6cf4;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
  transform: translateY(-10px);
}

.contact .content .row .card .info{
  text-align: center;
}

.contact .content .row .card .info h3{
  color: #111;
  font-size: 1.7em;
  font-weight: 700;
  margin: 10px;
}

.contact .content .row .card .info span{
  color: black;
  font-weight: 500;
  font-size: 1.5em;
}
.style-icon{
  color: #8B4513;
}
/* ======================================Kết Thúc liên hệ======================================= */

/* ===================================Start Footer================================================== */
.footer_area {
    background: #303339;
    overflow: hidden;
    margin-top: 30px;
    padding-bottom: 40px;
  }
.footer_container {
  display: flex;
  justify-content: space-between;
}
#footer-img {
  flex: 1;
}
.footer_wd_inner {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
  .footer_widgets {
    /* padding: 60px 0px 50px 0px; */
  }
  
  .footer-more {
    /* padding-left: 35px; */
  }
  
  .f_title {
    margin-bottom: 20px;
  }
  
  .f_title h3 {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  
  .f_title h3:before {
    content: "";
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background:#8B4513;
  }
  
  .f_about_widget p {
    font-size: 14px;
    line-height: 23px;
    font-family: "Open Sans", sans-serif;
    color: #a8a8a8;
    letter-spacing: .28px;
    margin-top: 20px;
    margin-bottom: 0px;
  }  
  .f_link_widget .list_style li {
    margin-bottom: 10px;
    list-style-type: none;
    margin-left: -30px;
  }
  
  .f_link_widget .list_style li a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    letter-spacing: .28px;
    font-family: "Open Sans", sans-serif;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
  }
  
  .f_link_widget .list_style li:hover a {
    color: wheat;
  }
  
  .f_contact_widget h4 {
    font-size: 18px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .f_contact_widget p {
    font-size: 14px;
    line-height: 26px;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0px;
  }
  
  .f_contact_widget h5 {
    font-size: 14px;
    line-height: 26px;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0px;
  }
#footer-img img {
  width: 300px;
}
#footer-img h2{
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
/* ===================================End Footer================================================ */