
/* ==============================Menu============================= */
#style-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.style-header-menu {
  margin: 0 20px;
}
a {
  text-decoration: none;
}
.title {
  display: block;
  text-align: center;
}
.title h1 {
  display: inline-block;
  padding: 0.7em;
  border-radius: 10px;
  background-color: wheat;
  font-size: 2.2em;
  color: #8b4513;
  font-style: italic;
}

.card {
  max-width: 240px;
  background-color: transparent;
  padding: 10px;
}
.card:hover {
  background-color: white;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.cardsub {
  width: 100%;
  margin: auto;
  background-color: white;
  font-family: arial;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}
.cardsub .img {
  border-radius: 10px;
  width: 100%;
  display: block;
  object-fit: cover;
}
.cardsub-id {
  color: #8b4513;
  font-size: 0.7em;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cardsub-id h4 {
  font-size: 1.2em;
  margin-bottom: 0.9em;
}
.cardsub p{
  text-align: center;
  margin: 10px 0 0 0;
}
.cardsub button {
  border-radius: 10px;
  outline: 0;
  padding: 0.4em;
  border: none;
  background-color: wheat;
  cursor: pointer;
  font-size: 0.7em;
  color: #8b4513;
  font-weight: 600;
}

.card button:hover {
  opacity: 0.7;
}
#main {
  margin-top: 80px;
}

.khu {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(240, 228, 205, 0.8);
  margin: auto;
  border-radius: 10px;
  max-width: 95%;
  /* justify-content: space-around; */
}
.icon-pr {
  display: flex;
  width: 100%;
  font-size: 50px;
  justify-content: center;
  padding: 10px;
}
.icon-pr img {
  width: 140px;
}
#card-area {
  margin-bottom: 10px;
}
#linemune {
  margin: 5px;
}
#linecard {
  max-width: 95%;
  height: 5px;
  background-color: chocolate;
  border-radius: 10px;
  margin: auto;
  display: flex;
}
#line-in-line {
  background-color: rgb(252, 198, 106);
  width: 200px;
  border-radius: 10px;
}
/* ===================================Start Footer================================================== */

/* ===================================End Footer================================================ */
.phtr {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin:auto;
}
.stylephtr {
  padding: 0 10px;
}
.phtr .stylephtr .P{
  background-color: rgb(247, 224, 186);
  border-radius: 5px;
  color: rgb(17, 14, 14);
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.9em;
}

.phtr .icon-phtr {
  color: #8b4513;
  font-size: 100px;
}
